<% layout('layouts/boilerplate') %> 
<div class="container m-3">
    <div class="row">
        <div class="col-8">
            <div class="offset-md-4 my-3">
                <span class="title">Nombre: </span> <%= chofer.name %> 
            </div>
            <div class="offset-md-4 my-3">
                <span class="title">Teléfono: </span> <%= chofer.phone %> 
            </div>
            <div class="offset-md-4 my-3">
                <span class="title">Compañía: </span> <%= chofer.company %> 
            </div>
            <div class="offset-md-4 my-3">
                <span class="title">Coordinador: </span> <%= chofer.coordinator %> 
            </div>
            <%if (chofer.license) { %>
            <div class="offset-md-4 my-3">
                <span class="title">Licencia: </span> <a class="btn btn-dark" href="/driver/show/license/<%=chofer.license._id%>"><%= chofer.license.number %></a>  
            </div>
            <% } %>
            <% if (chofer.bus) {%>
                <div class="offset-md-4 my-3">
                    <span class="title">Unidad: </span> <%= chofer.bus.unidad %> 
                </div>  
            <% } %> 
            <% if (chofer.checklist) {%>
                <div class="offset-md-4 my-3">
                    <span class="title">Chofer cuenta con su checklist.</span> 
                </div>  
            <% } %>
            <% if (chofer.esReingreso) {%>
                <div class="offset-md-4 my-3">
                    <span class="title">Fecha de Reingreso:</span> <% chofer.fechaReingreso.toLocaleDateString() %> 
                </div>
            <% } %>    
        </div>
        <% if (chofer.fueDadoDeBaja !== true && (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin)) {%>
        <div class="col-4">
            <div class="my-3">
                <span class="title">¿Fue Dado de Baja?</span>
            </div>
            <div class="my-3">
                <form action="/driver/show/<%= chofer._id %>/baja?_method=PUT" method="post">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="fueDadoDeBaja" name="fueDadoDeBaja" value="true">
                        <label class="form-check-label title" for="fueDadoDeBaja">Marcar la Casilla si el chofer es baja.</label>
                    </div>
                      <button class="btn btn-success">Mandar</button>
                </form>
            </div>
        </div>
        <% } else if(chofer.fueDadoDeBaja) {%>
            <div class="col-4">
                <div class="my-3">
                    <h2>Chofer ha sido dado de Baja.</h2>
                </div>
            </div>
        <% } %> 
    </div>
    <div class="row my-3 offset-md-3">
        <div class="col-8">
            <a class="btn btn-primary" href="/driver/edit/<%= chofer._id %>">Editar Chofer</a>
        </div>
    </div>
</div>

<% if ( chofer.fueDadoDeBaja !== true && (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin)) {%>
<div class="container my-3 mx-5 px-5 ">
        <div class="col">
           <% if (!chofer.checklist) {%>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCheck" aria-expanded="false" aria-controls="collapseCheck">
                Checklist de Nuevo Ingreso
              </button>
            <div class="collapse" id="collapseCheck">
                <div class="container">
                    <div class="offset-md-2 my-3">
                        <form action="/driver/show/<%=chofer._id%>/checklist?_method=PUT" method="post">
                            <label for="employeeType">Plan de Entrenamiento</label>
                            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg" id="floatingEmployeeType" name="employeeType">
                                <option value="Nuevo Ingreso">Nuevo Ingreso</option>
                                <option value="Reingreso">Reingreso</option>
                            </select>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDriveTest" name="driveTest" value="true">
                                <label class="form-check-label" for="flexSwitchDriveTest">Prueba de Manejo.</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitcHRproccess" name="HRproccess" value="true">
                                <label class="form-check-label" for="flexSwitchHRproccess">Proceso de RH.</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchRulesHandbook" name="rulesHandbook" value="true">
                                <label class="form-check-label" for="flexSwitchRulesHandbook">Reglamento Interno.</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDriversLicense" name="driverLicense" value="true">
                                <label class="form-check-label" for="flexSwitchDriversLicense">Licencia de Conducir.</label>
                            </div>
                            <button class="btn btn-success">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
            <% } %> 
        </div>
</div> 
<% } %> 
<% if (!chofer.license && (currentUser.puesto === 'Supervisor de Coordinadores' || currentUser.isAdmin) ) {%>
    <div class="container my-3">
        <div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                Agregar Licencia
              </button>
            </p>
        <div class="collapse" id="collapse">
            <div class="container">
                <div class="my-3 license-margin">
                    <form action="/driver/show/<%=chofer._id%>/license?_method=PUT" method="post">
                        <div class="form-floating col-6 pb-2">
                            <input type="text" class="form-control form-control-lg" name="licenseType" id="floatingLicenseType" placeholder="Tipo de Licencia:" required>
                            <label for="floatingLicenseType" class="form-label">Tipo de Licencia: </label>
                        </div>
                        <div class="form-floating col-6 pb-2">
                             <input type="text" class="form-control form-control-lg" name="number" id="floatingLicenseNumber" placeholder="Número de Licencia:" required>
                             <label for="floatingLicenseNumber" class="form-label">Número de Licencia: </label>
                        </div>
                        <div class="form-floating col-6 pb-2">
                            <input type="date" class="form-control form-control-lg" name="startDate" id="floatingStartDate" placeholder="Fecha de Emisión:" required>
                            <label for="floatingStartDate" class="form-label">Fecha de Emisión: </label>
                        </div>
                        <div class="form-floating col-6 pb-2">
                            <input type="date" class="form-control form-control-lg" name="expirationDate" id="floatingExpirationDate" placeholder="Fecha de Expiración:" required>
                            <label for="floatingStartDate" class="form-label">Fecha de Emisión: </label>
                        </div>
                        <button class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% } %> 
<% if (chofer.audits) {%>
    <div class="container">
        <h4 class="offset-md-2">Auditorias</h4>
        <div class="row">
            <% for(audit of chofer.audits) {%>
                <div class="col-4 my-3">
                    <a class="btn btn-dark" href="/driver/audit/<%=audit._id%>">Auditoria_<%= audit.serie %> </a>
                </div>
            <% } %>  
        </div>
    </div>
<% } %>   