<% layout('layouts/boilerplate') %> 
<% const companyArr = ['OES', 'MEDLINE', 'BPI', 'AISTERMI', 'TRANSPORTES VILLARREAL'] %> 
<% const coordinatorArr = ['Elizardo Brewster Rubio', 'Jose Antonio Hernandez Garcia', 'David Benavides Chavez', 'Jesus Nava', 'Jessica Alaniz'] %> 
<h1 class="m-3">Modificar Chofer</h1> 
<div class="mb-3 container">
    <div class="row">
        <div class="col-md-12 offset-md-2 my-3">
         <h4>Datos Personales</h4>
        <form action ="/driver/edit/<%= chofer._id %>?_method=PUT" method="POST" novalidate>
            <div class="form-floating col-6 pb-2">
                <input type="text" class="form-control form-control-lg" name="name" id="floatingName" value="<%= chofer.name %>" placeholder="Nombre:" required>
                <label for="floatingName" class="form-label">Nombre: </label>
            </div>
            <div class="form-floating col-6 pb-2">
                <input type="text" class="form-control form-control-lg" name="phone" id="floatingPhone" value="<%= chofer.phone %>" placeholder="Teléfono:" required>
                <label for="floatingPhone" class="form-label">Teléfono: </label>
            </div>
            <div class="form-floating col-6 pb-2">
                <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="floatingCoordinator" name="coordinator">
                    <option value='Elizardo Brewster Rubio' <%= chofer.coordinator === coordinatorArr[0] ? 'selected' : '' %>>Elizardo Brewster Rubio</option>
                    <option value="Jose Antonio Hernandez Garcia" <%= chofer.coordinator === coordinatorArr[1] ? 'selected' : '' %>>Jose Antonio Hernandez Garcia</option>
                    <option value="David Benavides Chavez" <%= chofer.coordinator === coordinatorArr[2] ? 'selected' : '' %>>David Benavides Chavez</option>
                    <option value="Jesus Nava" <%= chofer.coordinator === coordinatorArr[3] ? 'selected' : '' %>>Jesus Nava</option>
                    <option value="Jessica Alaniz" <%= chofer.coordinator === coordinatorArr[4] ? 'selected' : '' %>>Jessica Alaniz</option>
                </select>
                <label for="coordinator">Coordinador:</label>
            </div>
            <div class="form-floating col-6 pb-2">
                <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="floatingCompany" name="company">
                  <option value='OES' <%= chofer.company === companyArr[0] ? 'selected' : '' %> >OES</option>
                  <option value="MEDLINE" <%= chofer.company === companyArr[1] ? 'selected' : '' %>>MEDLINE</option>
                  <option value="BPI" <%= chofer.company === companyArr[2] ? 'selected' : '' %>>BPI</option>
                  <option value="AISTERMI" <%= chofer.company === companyArr[3] ? 'selected' : '' %>>AISTERMI</option>
                  <option value="TRANSPORTES VILLARREAL" <%= chofer.company === companyArr[4] ? 'selected' : '' %>>TRANSPORTES VILLARREAL</option>
                </select>
                <label for="company">Empresa: </label>
            </div>
            <div class="form-floating col-6 pb-2">
                <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg" id="floatingUnit" name="bus">
                    <% buses.forEach((item, index) => {%> 
                        <option value="<%= item._id %>" <%= item.unidad === chofer.bus.unidad ? 'selected' : '' %> > <%= item.unidad %> </option>
                    <%}) %> 
                </select>
                <label for="bus">Asigne una Unidad: </label>
            </div>
            <% if(chofer.fueDadoDeBaja === true) {%>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fueDadoDeBaja" name="fueDadoDeBaja" value="false">
                    <label class="form-check-label title" for="fueDadoDeBaja">Marcar la Casilla si el chofer es recontratado.</label>
                </div>
            <% } %> 
            <button class="btn btn-success m-3">Mandar</button>
        </form>
        </div>
    </div>
</div>