<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-3">Bitácora con fecha de <%= log.date.toLocaleDateString() %> </h1>

<div class="container rutas-table">
    <div class="row rutas-head">
        <div class="col-2">
            Hora
        </div>
        <div class="col-3">
            Nombre de Visita
        </div>
        <div class="col-3">Recado</div>
        <div class="col-2">Dirigido A</div>
        <div class="col-2">A/R</div>
    </div>
    <% log.time.forEach((item, index) => {%>
        <div class="row rutas-row">
            <div class="col-2">
                <%= item %> 
            </div>
            <div class="col-3">
                <%= log.visitor[index] %> 
            </div>
            <div class="col-3">
                <%= log.message[index] %> 
            </div>
            <div class="col-2">
                <%= log.transfered[index] %> 
            </div>
            <div class="col-2">
                <%= log.ar[index] %> 
            </div>
        </div>
    <%})%> 
</div>

<div class="container my-3">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary offset-md-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                Crear Registro Nuevo
            </button>
        </div>
    </div>
</div>
<div class="container collapse my-3" id="collapse">
    <form action="/reception/log/<%= log._id %>?_method=PUT" method="post">
        <div class="row">
            <div class="time col"></div>
            <div class="visitor col"></div>
            <div class="message col"></div>
            <div class="transfered col"></div>
            <div class="ar col"></div>
        </div>
        <button class="btn btn-success">Guardar</button>
    </form>
    <button class="btn btn-success addToForm my-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg> 
        Agregar filas
    </button>
</div>

<script src="../../JavaScript/log.js"></script>