<% layout('layouts/boilerplate') %> 
<% const total = [] %> 
<div class="container">
   <h1>Proveedor: <%= order.nombre %></h1> 
    <h4>Teléfono: <%= order.telefono %></h4>

    <h2>Desglose: </h2>
   <div class="container m-3">
      <% order.objeto.forEach((item, index, array)=>{%> 
         <div><span class="title">Artículo:</span> <%= item %></div>
         <div><span class="title">Número de parte:</span> <%= order.partNumber[index] %></div> 
         <div><span class="title">Cantidad de piezas:</span> <%= order.cantidad[index] %></div> 
         <div><span class="title">Precio Unitario:</span> $<%= order.importe[index] %>.00</div>  
           <% const subTotal = parseInt(order.cantidad[index]) * parseInt(order.importe[index]) %>
           <% total.push(subTotal);%> 
          <div class="mb-3"><span class="title">Subtotal:</span> $<%= subTotal %>.00 </div>  
         <%}) %> 
   </div>
   <% const sum = total.reduce( (a,b)=> a + b ) %>
  
   <h3><span class="title">Total: </span> $<%= (sum * 1.16).toFixed(2) %></h3>  

</div>