<% layout('layouts/boilerplate') %> 
<% const total = [] %> 
<div class="container" id="data">
   <div class="row my-3 text-muted">
      <div class="col-4">
         TV-PRO-006
      </div>
      <div class="col-4">
         EMISION 15-03-22  
      </div>
      <div class="col-4">
         REVISION 15-03-22
      </div>
   </div>
   <hr>
   <div class="row my-3">
      <div class="col-6">
       <img src="../../assets/272707556_231916139148938_3564323865832014711_n-removebg-small.png" alt="">
      </div>
      <div class="col-6"> 
         <h2>Folio: <%= order.serial %></h2>
      </div>
  </div>
  <div class="row my-3">
     <div class="col-6">
       <p>Prop. Carlos Villarreal Muñiz</p>
       <p>R.F.C. VIMC-C710915 6H3</p>
       <p><span class="direc-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
       </span> Río Verde #7535 <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg> Col. El Maestro</p>
      <p><span class="direc-svg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
     </svg></span> &#56;&#54;&#55; &#50;&#56;&#49; &#56;&#49;&#49;&#48;</p>
     </div>
     <div class="col-6">
        <p><span class="direc-svg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
           <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
         </svg></span> &#99;&#97;&#114;&#108;&#111;&#115;&#118;&#105;&#108;&#108;&#97;&#114;&#114;&#101;&#97;&#108;&#51;&#52;&#57;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</p>
     </div>
  </div>
   <h1>Proveedor: <%= order.nombre %></h1> 
    <h4>Teléfono: <%= order.telefono %></h4>

    <h2>Desglose: </h2>
   <div class="container m-3">
      <% order.objeto.forEach((item, index, array)=>{%> 
         <div><span class="title">Artículo:</span> <%= item %></div>
         <div><span class="title">Número de parte:</span> <%= order.partNumber[index] %></div> 
         <div><span class="title">Cantidad de piezas:</span> <%= order.cantidad[index] %></div> 
         <div><span class="title">Importe:</span> $<%= order.importe[index] %>.00</div>  
           <% const subTotal = parseInt(order.importe[index]) %>
           <% total.push(subTotal);%> 
          <div class="mb-3"><span class="title">Subtotal:</span> $<%= subTotal %>.00 </div>  
         <%}) %> 
   </div>
   <% const sum = total.reduce( (a,b)=> a + b ) %>
  
   <h3><span class="title">Total: </span> $<%= sum  %></h3>  
   <div class="row offset-md-8">
      <div class="col-12 mb-5">
         Autorizado por:
      </div>
      <hr class="mt-5">
   </div>
</div>
<div class="container">
   <button class="btn btn-info my-3" id="downloadBtn">Descarga PDF</button>
</div>
<span hidden id="currentUser"><%= currentUser.firstName %> <%= currentUser.lastName %></span>
<span hidden id="currentDate"><%= new Date().toLocaleDateString() %></span>
<span hidden id="currentOrder"><%= order.serial %></span>
<script src="../../JavaScript/jspdf.min.js"></script>
<script src="../../JavaScript/html2pdf.bundle.min.js"></script>
<script src="../../JavaScript/purchaseOderPdf.js"></script>