<% layout('layouts/boilerplate') %> 
<h1 class="offset-md-4 my-5"> <%= vacante.position %> </h1>

<div class="container m-5">
    <div class="row my-3 fontIncrease">
        Edades: de <%= vacante.ageStart %> años a <%= vacante.ageEnd %> años. 
    </div>
    <div class="row my-3 fontIncrease">
        Género: <%= vacante.gender %> 
    </div>
    <div class="row my-3 fontIncrease">
        Requisitos: <%= vacante.requirements %> 
    </div>
    <div class="row my-3 fontIncrease">
        ¿Se cubrió la vacante? <%= vacante.covered ? 'Sí' : 'No' %> 
    </div>
    <div class="row my-3 fontIncrease">
        Fecha en que se cubrió la vacante: <%= vacante.covered ? vacante.coveredDate.toLocaleDateString() : 'Pendiente' %> 
    </div>
    <div class="row my-3">
        <% if(vacante.covered == false) {%><a class="btn btn-warning" href="/vacantes/edit/<%= vacante._id %>">Editar</a><% } %> 
    </div>
</div>