<% layout('layouts/boilerplate') %>
<h1 class="data m-3">Personal Administrativo </h1> 
    <div class="container my-3">
       <div class="dataTwo">
        <h2 class="col-md-offset-4 my-3">Asistencia</h2>
        <table>
            <thead class="attendance-head">
              <tr>
                <th class="col-2 title field ps-2">Nombre:</th>
                <th class="col-1 title field ps-2">Horario:</th>
                <% if(list.monday) {%><th class="col title field ps-2">Lunes <%= list.monday.date.toLocaleDateString() %> </th><% } %> 
                <% if(list.tuesday) {%><th class="col title field ps-2">Martes <%= list.tuesday.date.toLocaleDateString() %></th><% } %>
                <% if(list.wednesday) {%><th class="col title field ps-2">Miércoles <%= list.wednesday.date.toLocaleDateString() %></th><% } %>
                <% if(list.thursday) {%><th class="col title field ps-2">Jueves <%= list.thursday.date.toLocaleDateString() %></th><% } %>
                <% if(list.friday) {%><th class="col title field ps-2">Viernes <%= list.friday.date.toLocaleDateString() %></th><% } %>
                <% if(list.saturday) {%><th class="col title field ps-2">Sábado <%= list.saturday.date.toLocaleDateString() %></th><% } %>
                <% if(list.sunday) {%><th class="col title ps-2">Domingo <%= list.sunday.date.toLocaleDateString() %></th><% } %>
              </tr>
            </thead>
        <% users.forEach((item, index) => {%>
            <tbody>
            <tr class="attendance-list">
                <td class="col field ps-2"><%= item.firstName %> <%= item.lastName %></td>
                <td class="col field px-2">9:00 - 17:00</td>
                <% if(list.monday) {%><td class="col field ps-2">
                    <%= list.monday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
                <% if(list.tuesday) {%><td class="col ps-2 field">
                    <%= list.tuesday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
                <% if(list.wednesday) {%><td class="col ps-2 field">
                    <%= list.wednesday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
                <% if(list.thursday) {%><td class="col ps-2 field">
                    <%= list.thursday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
                <% if(list.friday) {%><td class="col ps-2 field">
                    <%= list.friday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
                <% if(list.saturday) {%><td class="col ps-2 field">
                    <%= list.saturday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
                <% if(list.sunday) {%><td class="col ps-2">
                    <%= list.sunday.isPresent[index] ? 'Asiste' : 'Falta' %> 
                </td><% } %>
            </tr>
        <% }) %>  
            </tbody>
        </table>
       </div>
       <div>
        <h2 class="col-md-offset-4 my-3">Puntualidad</h2>
        <table>
            <thead class="attendance-head">
              <tr>
                <th class="col-2 title field ps-2">Nombre:</th>
                <th class="col-1 title field ps-2">Horario:</th>
                <th class="col title field ps-2">Lunes</th>
                <th class="col title field ps-2">Martes</th>
                <th class="col title field ps-2">Miércoles</th>
                <th class="col title field ps-2">Jueves</th>
                <th class="col title field ps-2">Viernes</th>
                <th class="col title field ps-2">Sábado</th>
                <th class="col title ps-2">Domingo</th>
              </tr>
            </thead>
        <% users.forEach((item, index) => {%>
            <tbody>
            <tr class="attendance-list">
                <td class="col field ps-2"><%= item.firstName %> <%= item.lastName %></td>
                <td class="col field px-2">9:00 - 17:00</td>
                <% if(list.monday) {%><td class="col field ps-2">
                    <%= list.monday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
                <% if(list.tuesday) {%><td class="col ps-2 field">
                    <%= list.tuesday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
                <% if(list.wednesday) {%><td class="col ps-2 field">
                    <%= list.wednesday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
                <% if(list.thursday) {%><td class="col ps-2 field">
                    <%= list.thursday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
                <% if(list.friday) {%><td class="col ps-2 field">
                    <%= list.friday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
                <% if(list.saturday) {%><td class="col ps-2 field">
                    <%= list.saturday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
                <% if(list.sunday) {%><td class="col ps-2">
                    <%= list.sunday.isOnTime[index] ? 'Puntual' : 'Impuntual' %> 
                </td><% } %>
            </tr>
        <% }) %>  
            </tbody>
        </table>
       </div>
        <div>
            <h2 class="col-md-offset-4 my-3">Observaciones</h2>
            <table>
                <thead class="attendance-head">
                  <tr>
                    <th class="col-2 title field ps-2">Nombre:</th>
                    <th class="col-1 title field ps-2">Horario:</th>
                    <th class="col title field ps-2">Lunes</th>
                    <th class="col title field ps-2">Martes</th>
                    <th class="col title field ps-2">Miércoles</th>
                    <th class="col title field ps-2">Jueves</th>
                    <th class="col title field ps-2">Viernes</th>
                    <th class="col title field ps-2">Sábado</th>
                    <th class="col title ps-2">Domingo</th>
                  </tr>
                </thead>
            <% users.forEach((item, index) => {%>
                <tbody>
                <tr class="attendance-list">
                    <td class="col field ps-2"><%= item.firstName %> <%= item.lastName %></td>
                    <td class="col field px-2">9:00 - 17:00</td>
                    <% if(list.monday) {%><td class="col field ps-2">
                        <%= list.monday.comments[index] ? list.monday.comments[index] : 'N/A' %> 
                    </td><% } %>
                    <% if(list.tuesday) {%><td class="col ps-2 field">
                        <%= list.tuesday.comments[index] ? list.tuesday.comments[index] : 'N/A'  %> 
                    </td><% } %>
                    <% if(list.wednesday) {%><td class="col ps-2 field">
                        <%= list.wednesday.comments[index] ? list.wednesday.comments[index] : 'N/A' %> 
                    </td><% } %>
                    <% if(list.thursday) {%><td class="col ps-2 field">
                        <%= list.thursday.comments[index] ? list.thursday.comments[index] : 'N/A' %> 
                    </td><% } %>
                    <% if(list.friday) {%><td class="col ps-2 field">
                        <%= list.friday.comments[index] ? list.friday.comments[index] : 'N/A' %> 
                    </td><% } %>
                    <% if(list.saturday) {%><td class="col ps-2 field">
                        <%= list.saturday.comments[index] ? list.saturday.comments[index] : 'N/A' %> 
                    </td><% } %>
                    <% if(list.sunday) {%><td class="col ps-2">
                        <%= list.sunday.comments[index] ? list.sunday.comments[index] : 'N/A' %> 
                    </td><% } %>
                </tr>
            <% }) %>  
                </tbody>
            </table>   
        </div>
    </div>
    <div class="container offset-md-4 my-3">
        <button class="btn btn-info my-3" id="downloadBtn">Descarga PDF</button>
    </div>
    <span hidden id="currentUser"><%= currentUser.firstName %> <%= currentUser.lastName %></span>
    <span hidden id="currentDate"><%= new Date().toLocaleDateString() %></span>
    <span hidden id="name"><%= list.kind %> <%= list.date.toLocaleDateString() %> </span>
    <script src="../../../JavaScript/jspdf.min.js"></script>
    <script src="../../../JavaScript/html2pdf.bundle.min.js"></script>
    <script src="../../../JavaScript/attendancePDF.js"></script>
        
<% if (list.monday && list.tuesday && list.wednesday && list.thursday && list.friday && list.saturday  && list.sunday) {%>
<%} else {%>  
<h1 class="offset-md-4 my-3">Asistencia Diaria</h1> 
<div class="container">
    <form action="/hr/attendance/<%=list._id%>?_method=PUT" method="post">       
        <div class="container">
            <div class="row">
                <label for="day">Selecione el día:</label>
                <select class="form-select form-select mb-3" aria-label=".form-select" id="attendance" name="day">
                    <% if (!list.monday) {%><option value="Lunes">Lunes</option><% } %>
                    <% if (!list.tuesday) {%><option value="Martes">Martes</option><% } %>
                    <% if (!list.wednesday) {%><option value="Miércoles">Miércoles</option><% } %>
                    <% if (!list.thursday) {%><option value="Jueves">Jueves</option><% } %>
                    <% if (!list.friday) {%><option value="Viernes">Viernes</option><% } %>
                    <% if (!list.saturday) {%><option value="Sábado">Sábado</option><% } %>
                    <% if (!list.sunday) {%><option value="Domingo">Domingo</option><% } %>
                </select>
            </div>
        </div>
        <table>
            <thead class="attendance-head">
              <tr>
                <th class="col-3 title field">Nombre:</th>
                <th class="col-1 title field">Horario:</th>
                <th class="col-2 title field">Se presenta a trabajar:</th>
                <th class="col-2 title field">Retardo:</th>
                <th class="col-4 title">Observaciones:</th>
              </tr>
            </thead>
            <tbody>
            <% for (user of users) {%>
                <tr class="attendance-list">
                    <td class="col-2 field"><%= user.firstName %> <%= user.lastName %></td>
                    <td class="col-2 field">9:00 - 17:00</td>
                    <td class="col-2 field">
                        <select class="form-select form-select mb-3" aria-label=".form-select" id="isPresent" name="isPresent">
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                    <td class="pt-1 field">
                        <select class="form-select form-select mb-3" aria-label=".form-select" id="isOnTime" name="isOnTime">
                            <option value="true">Sí</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                    <td class="col-5 pt-1 form-floating">
                        <textarea type="text" class="form-control form-control-lg" name="comments" id="floatingComments" placeholder="Observaciones:"></textarea>
                        <label for="floatingComments" class="form-label">Observaciones: </label>
                    </td>
                </tr>
                <% } %>  
            </tbody>
            </table>
        <button class="btn btn-success my-5">Guardar</button>
    </form>
</div>
<% } %> 