<% layout('layouts/boilerplate') %> 
<h1 class="mx-3 p-5">Inventario</h1>

<div class="container my-3">
    <% for(item of inv) {%>
        <div class="card mb-3">
          <div class="row">
              <div class="col-md-4">
                  <!-- <img class="img-fluid" src=" " alt=""> -->
                  <span>aqui va ir la foto</span>
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title"><%= item.nombre %> </h5>
                      <p class="card-text">
                          <small class="text-muted"><%= item.cantidad %> 
                            <% if (item.cantidad > 1) { %> 
                              piezas
                            <% } else{%> pieza <%}%> </small>
                      </p>
                      <p class="card-text">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collaps<%=item._id%>" aria-expanded="false" aria-controls="collapseExample">
                            Opciones
                          </button>
                        </p>
                        <div class="collapse" id="collaps<%=item._id%>">
                          <div class="card card-body">
                            <a href="/inv/show/<%=item._id%>">Detalles</a>
                          </div>
                        </div>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  <% } %> 
  
    <a class="btn btn-primary mb-3" href="/inv/newItem">Nuevo</a>
</div>

    


