<% layout('layouts/boilerplate') %>
<% const subTotal = [] %>   
<h1 class="offset-md-4 my-3 data"> Listado </h1> 
<div class="container rutas-table m-3 dataTwo">
    <div class="row rutas-head">
        <div class="col">
            Artículo
        </div>
        <div class="col">
            Número De Parte
        </div>
        <div class="col">
            Locación
        </div>
        <div class="col">
            Cantidad
        </div>
        <div class="col">
            Precio
        </div>
    </div>
    <% inv.forEach((element, index) =>{%>
        <% subTotal.push(element.cantidad * element.price) %> 
        <div class="row rutas-row">
            <div class="col">
                <%= element.nombre %>
            </div>
            <div class="col">
                <%= element.partNumber %>
            </div>
            <div class="col">
                <%= element.estante %>
            </div>
            <div class="col">
                <%= element.cantidad %> 
            </div>
            <div class="col">
                $<%= (element.price).toFixed(2) %> 
            </div>
        </div>
    <%})%>
    <div class="row rutas-row">
        <div class="col-6">
            Total en dinero:
        </div>
        <div class="col-6">
            $<%=(subTotal.reduce((a,b) => { return a + b}, 0)).toFixed(2) %> 
        </div>
    </div> 
</div>
<div class="container">
    <button class="btn btn-info my-3" id="downloadBtn">Descarga PDF</button>
</div>
<span hidden id="currentUser"><%= currentUser.firstName %> <%= currentUser.lastName %></span>
<span hidden id="currentDate"><%= new Date().toLocaleDateString() %></span>
<script src="../../JavaScript/jspdf.min.js"></script>
<script src="../../JavaScript/html2pdf.bundle.min.js"></script>
<script src="../../JavaScript/printInv.js"></script>