<% layout('layouts/boilerplate') %> 
<% const companyArr = ['OES', 'MEDLINE', 'BPI', 'AISTERMI', 'EZO','TRANSPORTES VILLARREAL'] %> 
<h1 class="offset-md-4 my-5"> <%= customer.fullname %>  </h1>

<div class="container offset-md4">
    <form action="/clientes/show/<%= customer._id %>/edit?_method=PUT" method="post">
        <div class="form-floating col-6 pb-2">
            <input type="text" class="form-control form-control-lg" name="username" id="floatingUsername" placeholder="Usuario:" value="<%= customer.username %>" required>
            <label for="floatingUsername" class="form-label">Usuario: </label>
          </div>
          <div class="form-floating col-6 pb-2">
            <input type="text" class="form-control form-control-lg" name="firstName" id="floatingFirstName" placeholder="Nombre(s):" value="<%= customer.firstName %>" required>
            <label for="floatingFirstName" class="form-label">Nombre(s): </label>
          </div>
          <div class="form-floating col-6 pb-2">
            <input type="text" class="form-control form-control-lg" name="lastName" id="floatingLastName" placeholder="Apellido:" value="<%= customer.lastName %>" required>
            <label for="floatingLastName" class="form-label">Apellido: </label>
          </div>
          <div class="form-floating col-6 pb-2">
            <input type="email" class="form-control form-control-lg" name="email" id="floatingInput" placeholder="Email: "  value="<%= customer.email %>" required>
            <label for="floatingInput" class="form-label">Email: </label>
          </div>
          <div class="form-floating col-6 pb-2">
            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="floatingPuesto" name="company">
                <option value='OES' <%= customer.company === companyArr[0] ? 'selected' : '' %> >OES</option>
                <option value="MEDLINE" <%= customer.company === companyArr[1] ? 'selected' : '' %>>MEDLINE</option>
                <option value="BPI" <%= customer.company === companyArr[2] ? 'selected' : '' %>>BPI</option>
                <option value="AISTERMI" <%= customer.company === companyArr[3] ? 'selected' : '' %>>AISTERMI</option>
                <option value="EZO" <%= customer.company === companyArr[4] ? 'selected' : '' %>>EZO</option>
                <option value="TRANSPORTES VILLARREAL" <%= customer.company === companyArr[5] ? 'selected' : '' %>>TRANSPORTES VILLARREAL</option>
            </select>
            <label for="floatingPuesto" class="form-label">Empresa: </label>
          </div>
          <button class="btn btn-success m-3">Mandar</button>
    </form>
</div>