<% layout('layouts/boilerplate') %> 

<h1 class="offset-md-4 my-5"> <%= customer.fullname %>  </h1>

<div class="container offset-md-2 my-5">
    <div class="row fontIncrease my-5">
        <div class="col-6">Empresa</div>
        <div class="col-6">
            <%= customer.company %> 
        </div>
    </div>
    <div class="row fontIncrease my-5">
        <div class="col-6">Correo eléctronico</div>
        <div class="col-6"><%= customer.email %> </div>
    </div>
    <div class="row my-5">
        <div class="col-6">
            <a class="btn btn-primary" href="/clientes/<%= customer._id %>/edit">Editar</a>
        </div>
        <div class="col-6">
            <% if(currentUser.isAdmin) {%> 
                <form action="/clientes/<%=customer._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
                <% } %> 
            </div>
        </div>
    </div>
</div>